:root {
  --branding-color: #6c63ff;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: normal;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #171142;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}
.hero h2 {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  background: var(--branding-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: white;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  background-color: white;
}
.project-description {
  padding-left: 20px;
  padding-top: 100px;
  padding-bottom: 0px;
}

.about {
  padding: 160px 20px;
}

.about h1 {
  font-size: 64px;
  line-height: 80px;
}
.about h2 {
  font-size: 18px;
  font-family: var(--default-font);
}
.aboutpd {
  padding-right: 50px;
  padding-bottom: 30px;
}
.aboutpd p {
  font-size: 16px;
  font-family: var(--default-font);
  
}
.logo {
  max-height: 45px;
}
nav {
  padding: 20px 0px 20px 0px;
}
nav ul {
  padding-top: 10px;
}
nav li {
  display: inline;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #272142;
  padding: 5px;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
footer {
  text-align: center;
  padding: 50px;
}
.footerlink {
  display: block;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
  font-size: 24px;
}
.fab {
  margin: 20px;
  padding: 12px;
  color: var(--branding-color);
  background-color: #f9f7fe;
  border-radius: 50%;
  font-size: 20px;
}
.fab:hover {
  color: white;
  background-color: var(--branding-color);
}
.footerFirst {
  margin-top: 100px;
  padding: 60px 20px;
  background-color: #f9f7fe;
  border-radius: 20px;
}
.footerFirst h1 {
  font-size: 48px;
}
.footerFirst h2 {
  font-size: 18px;
  font-family: var(--default-font);
}
.footerFirstLink {
  background: var(--branding-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
}
.footerFirstLink:hover {
  color: black;
}
.buttonInq {
  text-align: right;
  margin-top: 30px;
}

@media (min-width:960px) {
.buttonInq {
    padding-right: 70px;
}
.footerText{
    padding-left: 50px;
}
}
@media (max-width: 960px) {
  .project-description {
    padding: 0px;
    text-align: center;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .about {
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
  }
  .about h1 {
    font-size: 44px;
  }
  .footerFirst h1 {
    font-size: 23px;
  }
  .footerFirstLink {
    font-size: 18px;
  }
  .footerFirst {
    text-align: center;
  }
  .buttonInq {
    text-align: center;
  }
}
